.seat {
    position: relative;

    margin: 10px;
    width: 100px;
    /* text-align: center; */

    position: relative;
}


.seat label {
    text-align: center;
    display: block;
    position: relative;
    background: rgb(194, 201, 201);
    height: 50px;
    border-radius: 10px;
}

.seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px green;
}

.seat input[type=checkbox] {

    position: absolute;
}

.seat input:checked+label {

    background: #63E6BE;
}